@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* variables */
:root {
  --primary: #f1823b;
  --primary-light: #f59921;
  --primary-bg: rgba(245, 153, 33, 0.6);
  --primary-bg-light: rgba(245, 153, 33, 0.1);
  --white: #fff;
  --black: #000;
  --light: #ddd;
  --dark: #333;
}
/* default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-size: normal;
}
body {
  color: var(--black);
  background-color: var(--white);
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}
ul {
  list-style: none;
}
li {
  list-style-type: none;
}
a {
  cursor: pointer;
}
a:hover {
}
.btn {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  background-color: none;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 1rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  /*transition: opacity 0.2s ease-in;
  outline: none;*/
}
.btn:hover {
  color: #222;
  background-color: var(--secondary);
}
input,
textarea {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 2px solid var(--primary);
  color: #f2f2f2;
}
/* mobile */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}
.contact-baner {
  padding: 30px 20px;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-around;
}
.contact-baner p {
  font-size: 0.7rem;
  color: var(--white);
}
.contact-baner p i {
  color: var(--primary-light);
  font-size: 1rem;
  margin: 10px;
  position: relative;
  top: 4px;
  left: 4px;
}
#nav-section {
  padding: 30px 20px;
}
.menu {
  display: none;
}
.logo {
  grid-column: 1/6;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contact-info {
  display: none;
}
/* carousel section */
#carousel-section {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0;
}
.carousel-slider {
  background-color: var(--white);
}
.img-align-center {
  height: 30vh;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* doswiadczenie section */
#doswiadczenie-section {
  padding: 30px 20px;
  grid-template-columns: 1fr;
  text-align: center;
  margin-bottom: 2rem;
}
.doswiadczenie-text {
  padding: 30px 20px;
}
.doswiadczenie-text h1 {
  margin-bottom: 10px;
  color: var(--primary-light);
}
.doswiadczenie-text p {
  font-size: 0.8rem;
}
.doswiadczenie-card {
  padding: 10px 20px;
}
.doswiadczenie-card i {
  color: var(--primary-light);
  font-size: 2rem;
  margin-bottom: 15px;
}
/* opinion hero section */
#opinion-hero-section {
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
  gap: 0;
}
.opinion-hero {
  padding: 30px 20px;
  text-align: center;
  background-color: var(--primary-bg);
}
.opinion-panel {
  padding: 30px 20px;
  text-align: center;
  background-color: var(--primary-bg-light);
}
.name {
  margin-bottom: 30px;
}
.opinion {
  margin: auto;
  width: 80%;
  text-align: justify;
  text-justify: auto;
}
/* trust section */
#trust-section {
  margin-bottom: 2rem;
  width: 100%;
  grid-template-columns: 1fr;
  padding: 0;
  gap: 30px;
}
.trust-hero {
  background-color: var(--primary-bg);
  text-align: center;
  padding: 30px 20px;
}
.trust-slider {
  width: 100%;
  margin-bottom: 2rem;
  background-color: var(--white);
}
/* map section */
#map-section {
  grid-template-columns: 1fr;
  padding: 0;
  margin-bottom: 2rem;
  background-color: #fff;
}
#map {
  height: 30vh;
  width: 100%;
}
.map-text {
  line-height: 2rem;
  text-align: center;
}
/* contact */
#contact-section {
  padding: 30px 20px;
  background-color: var(--primary-bg);
  margin-bottom: 2rem;
}
#contact-section h3,
#contact-section p {
  text-align: center;
  margin-bottom: 0;
}
#contact-section form {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}
#contact-section input,
#contact-section textarea {
  width: 100%;
  margin: 10px 0;
}
#contact-section .btn {
  margin-top: 10px;
}
/* footer */
footer {
  width: 100%;
  background-color: var(--dark);
  color: var(--white);
  padding: 30px 20px;
}
.footer-text-col {
  text-align: center;
  margin: 1rem;
}
.footer-text-col h3 {
  color: var(--primary-light);
}
/* small tablets */
@media screen and (max-width: 620px) {
  html {
    font-size: 16px;
  }
}
/* large tablets and laptops */
@media screen and (max-width: 960px) {
  html {
    font-size: 18px;
  }
}
/* desktops */
@media screen and (max-width: 1200) {
  html {
    font-size: 20px;
  }
}
